.vscode
desktop.ini
games/**
adelfors-arcade.exe
Arcade-Monitor.exe
arcade_config.txt
arcade.aps

# Potential C files:

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp
